.contact .container .content{
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 5%;
}	

.contact-left, .contact-right{
	min-width: 45%;
}
	
.contact-left h2{
	font-size: var(--medium);
	font-weight: 800;
	margin-bottom: 40px;
	margin-right: 50px;
}
	
.contact-list li{
	margin-bottom: 40px;

}	
	
.contact-list h3{
	font-size: var(--normal);
	font-weight: 400;
}

.contact-list-item-title {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.contact-list .icon{
	font-size: var(--normal);
	margin-right: 5px;
}

.contact-list span {
	margin-left: calc( var(--normal) + 5px);
	color: var(--white-95);
}

.contact-right p{
	color: var(--white) ;
	font-size: var(--small);
	margin-bottom: 30px;
	font-weight: 400;
}	

.contact-right p span{
	font-size: var(--small);
	color: var(--white);
	font-weight: 600;
}

.contact-form input, .contact-form textarea{
	border: none;
	color: var(--white) ;
	background: var(--white-10) ;
	font-size: var(--small) ;
	margin-bottom: 20px;
	padding: 15px 40px 40px 20px;
	border-radius: 5px;
	width: 100%;
}

.contact-form textarea {
	resize: none;
}

.second-row {
	display: flex;
	gap: 5%;
}

.contact-form .btn {
	margin-top: 0;
	width: auto;
}

.contact-form .btn:hover {
	transform: scale(1.05);
	transition: .4s;
	cursor: pointer;
}

@media screen and (max-width: 1070px) {
	.contact-left h2{
		margin-right: 0px;
	}

}
@media screen and (max-width: 760px) {
	.contact .container .content{
		flex-direction: column;
	}

}