.services .container .content{
	width: 100%;
}	
	
.services-description h3{
	font-size: var(--medium);
	margin-bottom: 50px;
}	
	
.service-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1005px;
	margin: 0 auto;
	gap: 40px;
	padding: 0 30px;
}

.service-card{
	background: var(--black);
	border-bottom: 3px solid var(--white) ;
	padding: 50px;
	border-radius: 6px;
	box-shadow: var(--box-shadow);
}

.service-card .icon{
	font-size: var(--medium);
	margin-bottom: 30px;
}


.service-card h3{
	font-size: var(normal);
	font-weight: 900;
	line-height: 30px;
	margin-bottom: 20px;
}

.service-card .learn-more-btn{
	cursor: pointer;
	transition: .3s ease;
	display: flex;
	justify-content: left;
	align-items: center;
}

.service-card .learn-more-btn .icon{
	transition: .3s ease;
	font-size: var(--small);
	margin: 0 5px;
}

.service-card:hover .learn-more-btn .icon {
	transform: translateX(10px);
}

.service-modal{
	z-index: 999999;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: var(--black-10);
	backdrop-filter: blur(10px);
	transition: .8s ease-in-out;
}

.service-modal-body{
	position: relative;
	background: var(--black) ;
	max-width: 600px;
	margin: 20px;
	padding: 40px;
	border-radius: 10px;
	box-shadow: var(--box-shadow) ;
	}
	
.service-modal-body .modal-close-btn{
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	cursor: pointer;
}

.service-modal-body h3{
	font-size: var(--medium);
}
	
.service-modal-body h4{
	font-size: var(--normal);
	font-weight: 600;
	margin: 15px 0 10px;
}

.service-modal-body ul li {
	margin-top: 15px;
	display: flex;
	align-items: center;
}

.service-modal-body ul li .icon {
	margin-right: 5px;
}

@media screen and (max-width: 1070px) {
	.service-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}